################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################


# Visual Studio Code specific files
.vscode/

# Ignore node_modules for Angular
#/angular-app/node_modules/





/BE/DatingApp/DatingApp.sln
# .gitignore

# Ignore bin and obj folders for .NET
/BE/DatingApp/bin/
/BE/DatingApp/obj/


# Ignore class library project within /BE/Application
/BE/DatingApp/DatingApp.Application/bin/
/BE/DatingApp/DatingApp.Application/obj/

# Ignore class library project within /BE/DatingApp
/BE/DatingApp/DatingApp.Domain/bin/
/BE/DatingApp/DatingApp.Domain/obj/


# Ignore class library project within /BE/Infrastructure
/BE/DatingApp/DatingApp.Infrastructure/bin/
/BE/DatingApp/DatingApp.Infrastructure/obj/

