<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-primary">Sign Up</h2>
  <hr />

  <div class="mb-3">
    <label style="margin-right: 10px">I am a:</label>
    <label class="form-check-lable">
      <input
        type="radio"
        class="form-check-input"
        value="male"
        formControlName="gender"
      />Male
    </label>
    <label class="form-check-lable">
      <input
        type="radio"
        class="form-check-input ms-3"
        value="female"
        formControlName="gender"
      />Female
    </label>
  </div>

  <app-text-input
    [formControl]="$any(registerForm.controls['username'])"
    [label]="'username'"
    [type]="'text'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['knownAs'])"
    [label]="'Known As'"
    [type]="'text'"
  ></app-text-input>

  <app-date-picker
    [formControl]="$any(registerForm.controls['dateOfBirth'])"
    [label]="'Date Of Birth'"
    [maxDate]="maxDate"
  ></app-date-picker>

  <app-text-input
    [formControl]="$any(registerForm.controls['city'])"
    [label]="'City'"
    [type]="'text'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['country'])"
    [label]="'Country'"
    [type]="'text'"
  ></app-text-input>

  <app-text-input
    [formControl]="$any(registerForm.controls['password'])"
    [label]="'password'"
    [type]="'password'"
  ></app-text-input>
  <app-text-input
    [formControl]="$any(registerForm.controls['confirmPassword'])"
    [label]="'confirmPassword'"
    [type]="'password'"
  ></app-text-input>

  <div class="text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-default" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>

<!-- <p>From value: {{ registerForm.value | json }}</p>
<p>From status: {{ registerForm.status | json }}</p> -->

<!-- <div class="mb-3">
  <input
    type="text"
    [class.is-invalid]="registerForm.get('username')?.error"
    class="form-control"
    formControlName="username"
    placeholder="username"
  />
  <span
    *ngIf="
      !registerForm.get('username').valid &&
      registerForm.get('username').touched
    "
    class="help-block text-danger"
  >
    Please enter username
  </span>
</div>
<div class="mb-3">
  <input
    type="password"
    class="form-control"
    formControlName="password"
    placeholder="password"
  />
  <div
    class="help-block text-danger"
    *ngIf="
      registerForm.get('password').touched &&
      registerForm.get('password')?.hasError('required')
    "
  >
    Please enter password
  </div>
  <div
    class="help-block text-danger"
    *ngIf="registerForm.get('password')?.hasError('minlength')"
  >
    Must be minimum 4 characters
  </div>
  <div
    class="help-block text-danger"
    *ngIf="registerForm.get('password')?.hasError('maxlength')"
  >
    Must be maximum 12 characters
  </div>
</div> 
 <div class="mb-3">
    <input
      type="password"
      class="form-control"
      formControlName="confirmPassword"
      placeholder="confirm password"
    />
    <div
      class="help-block text-danger"
      *ngIf="
        registerForm.get('confirmPassword').touched &&
        registerForm.get('confirmPassword')?.hasError('required')
      "
    >
      Please enter confirm password
    </div>
    <div
      class="help-block text-danger"
      *ngIf="registerForm.get('confirmPassword')?.hasError('notMatching')"
    >
      Please enter correct confirm password same as password
    </div>
  </div>

-->
