input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
  border: 2px solid red;
}

.nav-item.active a {
  color: rgb(232, 138, 154);
}

img {
  max-height: 40px;
  border: 2px solid white;
  display: inline;
  border-radius: 420%;
}
