<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a
      class="navbar-brand"
      style="cursor: pointer"
      routerLink="/"
      style="color: rgb(244, 44, 111)"
      >Dating App</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ng-container *ngIf="accountService.currentUser$ | async">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/members">Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/lists">Lists</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="/messages">Messages</a>
          </li>
        </ng-container>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/error">Errors</a>
        </li>
      </ul>
      <div class="d-flex ms-auto">
        <ul
          class="navbar-nav me-auto mb-2 mb-lg-0"
          *ngIf="accountService.currentUser$ | async as user"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Welcome {{ user.username | titlecase }}
            </a>

            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li>
                <a
                  class="dropdown-item"
                  style="cursor: pointer"
                  routerLink="/member/edit"
                  >Edit Profile</a
                >
              </li>
              <li>
                <a
                  class="dropdown-item text-danger"
                  style="cursor: pointer"
                  (click)="onLogout()"
                  >Logout</a
                >
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <img
              src="{{ user.photoUrl || './assets/user.png' }}"
              alt="user photo"
            />
          </li>
        </ul>
      </div>

      <form
        *ngIf="!(accountService.currentUser$ | async)"
        class="d-flex ms-auto"
        #loginForm="ngForm"
        (submit)="onLogin(loginForm)"
        autocomplete="off"
      >
        <input
          class="form-control me-2"
          type="text"
          placeholder="Username"
          name="username"
          [(ngModel)]="model.username"
          required
          #username="ngModel"
        />
        <span
          class="help-block text-danger"
          *ngIf="!username && username.touched"
        ></span>
        <input
          class="form-control me-2"
          type="password"
          placeholder="Password"
          name="password"
          [(ngModel)]="model.password"
          required
          #password="ngModel"
        />
        <span
          class="help-block text-danger"
          *ngIf="!password && password.touched"
        ></span>
        <button
          class="btn btn-success"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</nav>

<!-- Dropdown code -->
<!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->

<!-- NGX Bootstrap button -->
<!-- <div class="d-flex ms-auto" *ngIf="loggedIn">
     
          <div class="btn-group" dropdown>
            <button
              id="button-basic"
              dropdownToggle
              type="button"
              class="btn btn-secondary dropdown-toggle"
              aria-controls="dropdown-basic"
            >
              Welcome {{ model.username }} <span class="caret"></span>
            </button>
            <ul
              id="dropdown-basic"
              *dropdownMenu
              class="dropdown-menu"
              role="menu"
              aria-labelledby="button-basic"
            >
              <li role="menuitem">
                <a class="dropdown-item" style="cursor: pointer">Edit Profile</a>
              </li>
              <li role="menuitem">
                <a
                  class="dropdown-item text-danger"
                  style="cursor: pointer"
                  (click)="onLogout()"
                  >Logout</a
                >
              </li>
            </ul>
          </div> -->
